.shimmer{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
    justify-content: center;

}

.shimmer-card{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
    background-color: lightgray;
}
